@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #f9f9f9;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h3 span, h4, h4 span {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
h1 span {
    color: rgb(127,127,127);
}
h2 {
    text-align: left;
}
h3, h3 span {
    font-size: 26px;
}
h3 {
    margin-bottom: 0 !important;
    text-transform: uppercase;
}
h4.sv_p_title, h4.sv_p_title span {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.separator {
    background-color: rgb(153,153,153);
    width: 107px;
    height: 2px;
    margin: 28px auto;
    display: block;
}
.button-link, .sv-button-link {
    border: 1px solid rgb(127,127,127) !important;
    border-radius: 0 !important;
    color: #212529;
    width: 231px;
    height: 58px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 13.5px !important;
    font-weight: bold !important;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button-link {
    padding-top: 20px;
}
.button-link:hover {
    color: #212529;
}