/* Results table */
table {
    background-color: #5a90a7;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    margin-bottom: 45px;
}
table tbody tr:last-child td {
    margin-bottom: 40px;
}
table tbody th td {
    padding: 1.25em 1.25em 0.5em;
}
table tbody tr td {
    border-bottom: 1px solid rgba(255,255,255, 0.25);
    padding: 0.5em 1.25em 0.5em;
}
table tbody th td, table tbody tr td {
    width: 100%;
    display: block;
}